doctype html
html
	head
	title Ping Pong Demo
	link(rel="stylesheet",href="/stylesheets/bootstrap.min.css")
	link(rel="stylesheet",href="/stylesheets/bootstrap-theme.min.css")
	link(rel="stylesheet",href="/stylesheets/mycss.css")
	block styles
	body
		block content
		script(src="/javascripts/jquery.min.js")
		script(src="/javascripts/bootstrap.min.js")
		block scripts